<div>
<!--   <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['dashboard']">Admin</a>
        </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLink]="['request']">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLink]="['resource']">Resources</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['match']">Matches</a>
        </li>
    </ul> -->
  <router-outlet></router-outlet>
</div>

